# Data ScienceTools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Listing some of the popular Data Science Languages
- Listing some of the commonly used Data Science Libraries
- Demonstrating the creation of tables in markdown
- Evaluating some arithematic expressions usig python
- Demonstrating comments in notebook

*Some of the popular languages that Data Scientists use are:*

1. Python
2. R
3. Java
4. Scala

*Some of the commonly used libraries used by Data Scientists include:*

1. Pandas
2. NumPy
3. Scikit-learn
4. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook|
| Tensorflow |
| Apache spark |
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

print("in hours - ",int(200/60), " : ", 200%60)

in hours -  3  :  20

### Author
Navpreet Singh